body{
    display:flex;
    flex-direction:column;
    font-family: 'Roboto' sans-serif;
    height:100hv;
}

.header{
    background-color: #1f2937;

    
}

ul{
    display:flex;
    list-style-type:none;
    justify-content:flex-end;
    gap:15px;


}

a{
    text-decoration: none;
    color:white;
}

#logo{
margin-right:auto;
font-weight:bold;
color:white;
font-size:large;
}
/* first quarter styling  */

.f-quarter{
    display:flex;
    background-color: #1f2937;
    color:white;
}
.half{
    width:150px;
    flex-grow:0.5;
}
.half img{
    max-width: 100%;
    height:auto;
}

/* second quarter styling */


h2{
    text-align:center;
}
.s-flex{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content: center;

}
.container{
    border:2px solid #3882f6;
    border-radius:20px;
    width:150px;
    height:150px;

    
}

.s-flex div{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.s-flex p{
    text-align:center;
    max-width: 130px;
}
/* third quarter styling */

.t-quarter{
    display:flex;
    flex-direction:column;
    background-color:#e5e7eb;
}
.t-quarter p{
    margin:0 20px;
}
#bold{
    align-self:flex-end;
    font-weight:bold;
}
/* fourth quarter styling */
#box{
    width:600px;
    display:flex;
    color:white;
    align-items: baseline;
    justify-content: space-between;
    
}
#w-bold{
    font-weight: bold;
    color:white;
}
#f-size{
    height:30px;
    width:70px;
    
}
#text-s{
    font-size: 15px;
}
.b-container{
    margin:50px 20px;
    background-color:#3882f6;
    padding:20px;
    display:flex;
    justify-content:center;

}
/* footer styling */
.footer{
    text-align:center;
    color:white;
    background-color:#1f2937;
    padding:5px;
    font-size:small;

}