body{
    display:flex;
    flex-direction:column;
    font-family: 'Roboto' sans-serif;
    height:100hv;
}

.header{
    background-color: #1f2937;

    
}

ul{
    display:flex;
    list-style-type:none;
    justify-content:flex-end;
    gap:15px;


}

a{
    text-decoration: none;
    color:white;
}

#logo{
margin-right:auto;
font-weight:bold;
color:white;
font-size:large;
}
/* first quarter styling  */

.f-quarter{
    display:flex;
}
.half{
    width:150px;
    flex-grow:0.5;
}
.half img{
    max-width: 100%;
    height:auto;
}
/* second quarter styling */


h2{
    text-align:center;
}
.s-flex{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content: center;

}
.container{
    border:2px solid #1f2937;
    border-radius:20px;
    width:150px;
    height:150px;

    
}

.s-flex div{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.s-flex p{
    text-align:center;
    max-width: 130px;
}

